<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet" />
</head>

<body>
    <main>
        <header>
            <div class="logo">
                <a href="./index.html">Weather App</a>
            </div>

            <form action="/find" method="GET" id="api_form">
                <p>Type Your Coordinates</p>
                <label class="latitude-label" for="latitude">Latitude</label>
                <!--                TO DO: VALIDATION-->
                <input class="latitude" type="text" autocomplete="off" name="latitude" id="latitude" value="50.4422">
                <label class="longitude-label" for="longitude">Longitude</label>
                <input class="longitude" type="text" autocomplete="off" name="longitude" id="longitude" value="30.5367">
                <label class="search-label">Select city</label>
                <select id="select" class="search">
                    <optgroup label="Europe">
                        <option selected="" data-latitude="50.4422" data-longitude="30.5367" data-asl="168"
                            value="Kyiv">Kyiv</option>
                        <option data-latitude="52.5235" data-longitude="13.4115" data-asl="34" value="Berlin">Berlin
                        </option>
                        <option data-latitude="48.8567" data-longitude="2.3510" data-asl="34" value="Paris">Paris
                        </option>
                        <option data-latitude="51.5002" data-longitude="-0.1262" data-asl="14" value="London">London
                        </option>
                        <option data-latitude="40.4167" data-longitude="-3.7033" data-asl="588" value="Madrid">Madrid
                        </option>
                        <option data-latitude="48.2092" data-longitude="16.3728" data-asl="170" value="Vienna">Vienna
                        </option>
                        <option data-latitude="50.8371" data-longitude="4.3676" data-asl="577" value="Brussels">Brussels
                        </option>
                        <option data-latitude="55.7558" data-longitude="37.6176" data-asl="125" value="Moscow">Moscow
                        </option>
                        <option data-latitude="42.7105" data-longitude="23.3238" data-asl="591" value="Sofia">Sofia
                        </option>
                        <option data-latitude="55.6763" data-longitude="12.5681" data-asl="0" value="Copenhagen">
                            Copenhagen</option>
                        <option data-latitude="37.9792" data-longitude="23.7166" data-asl="153" value="Athens">Athens
                        </option>
                        <option data-latitude="47.4984" data-longitude="19.0408" data-asl="102" value="Budapest">
                            Budapest</option>
                        <option data-latitude="64.1353" data-longitude="-21.8952" data-asl="15" value="Reykjavik">
                            Reykjavik</option>
                        <option data-latitude="53.3441" data-longitude="-6.2675" data-asl="8" value="Dublin">Dublin
                        </option>
                        <option data-latitude="41.8955" data-longitude="12.4823" data-asl="14" value="Rome">Rome
                        </option>
                        <option data-latitude="52.3738" data-longitude="4.8910" data-asl="-1" value="Amsterdam">
                            Amsterdam</option>
                        <option data-latitude="59.9138" data-longitude="10.7387" data-asl="12" value="Oslo">Oslo
                        </option>
                        <option data-latitude="52.2297" data-longitude="21.0122" data-asl="93" value="Warsaw">Warsaw
                        </option>
                        <option data-latitude="38.7072" data-longitude="-9.1355" data-asl="15" value="Lisabon">Lisabon
                        </option>
                        <option data-latitude="46.9480" data-longitude="7.4481" data-asl="513" value="Bern">Bern
                        </option>
                        <option data-latitude="59.3328" data-longitude="18.0645" data-asl="15" value="Stockholm">
                            Stockholm</option>
                    </optgroup>
                </select>

                <input class="search-submit" onclick="" type="submit" value="Find" />
            </form>
        </header>
        <section>
            <section class="about">
                <div class="time">
                    <!--                    To do: implement a condition after GET method /find-->
                    <div>
                        <h2 id="yourCity">Kyiv</h2>
                    </div>
                    <span id="doc_time">
                        Date and Time
                    </span>
                </div>

                <div class="weather-stats">
                    <div class="weather-ico ico-img">
                        <img src="../static/images/cloudy.png" alt="weather" th:src="@{images/cloudy.png}" />
                        <div class="weather-stat1">
                            <p th:text="${weather}"></p>
                        </div>
                    </div>
                    <div class="temperature-ico ico-img">
                        <img src="../static/images/celsius.png" alt="temperature" th:src="@{images/celsius.png}" />
                        <div class="weather-stat2">
                            <p th:text="${temperature}"></p>
                            <p>&nbspC&deg</p>
                        </div>
                    </div>
                    <div class="wind-ico ico-img">
                        <img src="../static/images/wind.png" alt="wind" th:src="@{images/wind.png}" />
                        <div class="weather-stat3">
                            <p th:text="${windspeed}"></p>
                            <p>&nbspkm/h</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <footer>
            <p>Designed by d1mkn</p>
        </footer>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        function clock() {
            let d = new Date();
            let month_num = d.getMonth()
            let day = d.getDate();
            let hours = d.getHours();
            let minutes = d.getMinutes();
            let seconds = d.getSeconds();

            month = ["january", "february", "march", "april", "may", "june",
                "july", "august", "september", "october", "november", "december"];

            if (day <= 9) day = "0" + day;
            if (hours <= 9) hours = "0" + hours;
            if (minutes <= 9) minutes = "0" + minutes;
            if (seconds <= 9) seconds = "0" + seconds;

            date_time = "Today is - " + day + " " + month[month_num] + " " + d.getFullYear() +
                "<br>Time - " + hours + ":" + minutes + ":" + seconds;
            if (document.layers) {
                document.layers.doc_time.document.write(date_time);
                document.layers.doc_time.document.close();
            }
            else document.getElementById("doc_time").innerHTML = date_time;
            setTimeout("clock()", 1000);
        }
    </script>
    <script type="text/javascript">
        clock();
    </script>

    <script type="text/javascript">
        document.getElementById("select").addEventListener("change", function () {
            document.getElementById("yourCity").innerHTML = this.value;
        });
    </script>

    <script type="text/javascript">
        $('#select').change(function (e) {
            let city = $(this).find('option:selected');
            let latitude = city.attr("data-latitude");
            let longitude = city.attr("data-longitude");
            $('#latitude').val(latitude);
            $('#longitude').val(longitude);
        });
    </script>
</body>

</html>